
.homepage-container{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px solid black;
  margin-bottom: 10px;
  display:flexbox;
  background-color: #a48fc7 ;
  padding: 10px;
}

.scholarship-card-grid{
  margin: 20px;
  
}

.card-heading{
  text-align: center;
  padding: 20px;
}

.wbDetail{
  display: grid;
  grid-template-columns: auto auto ;
  justify-content: space-evenly;
  align-items: center;
}

.wbDetail-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
}

.wbDetail-card p{
  font-size: 16px;
  font-weight: 900;
}

.wbDetail-card img{
  width:150px;
  height: 150px;
  margin: 10px;
}

@media screen and (max-width: 950px){
  .wbDetail{
    display: flex;
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 700px){
  .homepage-container{
    width: 100%;
    margin: 0;
    flex-shrink: inherit;
  }
  
}
