@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .portal-points {
    padding: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: darkmagenta;
  }
  
  /* Apply the animation to the main content div */
  .home-page {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  main {
    margin: 0 15%;
    animation: fadeIn 1s ease-in-out;
  }
  
  .hero-section {
    padding: 20px;
    margin: 10 px20px;
    background-color: whitesmoke;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .hero-section h1{
      text-align: center;
      font-size: 30px;
      color: darkgreen;
      font-weight: bold;
  }
  
  .subtitle{
      text-align: center;
      font-size: 25px;
      color:darkslateblue;
      font-style: italic;
      font-weight: bold;
  }
  
  .subtitle-content{
      text-align: center;
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .hero-section h2{
      text-align: center;
      font-size: 27px;
      color: darkgreen;
      font-weight: bold;
  }
  
  .hero-section h5{
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  
  }
  
  /* Add responsive styles for mobile */
  @media screen and (max-width: 768px) {
    main {
      margin: 10px 0;
    }
  
    .hero-section {
      padding: 10px;
    }
  }
  
  
    