.navbar {
    background-color: #EBF0F6;
    color: #0a2248;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
  }
  
  .logo{
    display: flex;
    flex-wrap: wrap;
  }
  
  .logo img{
    margin: 2px;
    padding: 2px;
  }
  
  .logo h1 {
    font-size: 20px;
    margin: 2px;
    padding: 5px;
    font-size: 25px;
    
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
  
  .nav-btn {
    background-color: transparent;
    color: #132238;
    border: none;
    padding: 12px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin: 0;
  }
  
  /* Add hover effect for buttons */
  .nav-btn:hover {
    background-color: #302357;
    color: whitesmoke;
  }


  /* Add responsive styles for mobile */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .nav-links {
      margin-top: 10px;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }