/* styles.css */
div.scholarshipListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scholarshipCard {
    box-shadow: 3px 3px #3a2b47;
    width: 90%;
    display: flexbox;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ebe2f3;
    transition: width 0.15s;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.scholarshipCard h3 {
    margin-bottom: 10px;
    text-shadow: .5px .5px black;
}

.scholarshipCard p {
    margin-bottom: 10px;
    padding: 5px 5px 5px 0;
    font-weight: 600;
}

.scholarshipCard a {
    float: right;
}

.scholarshipCard a img {
    width: 32px;
    height: 32px;
}

.scholarshipCard:hover {
    background-color: #cab9d7;
    width: 92%;
}

.noResult {
    font-weight: 900;
    width: 100%;
    margin: 20px;
    font-size: 30px;
    justify-content: center;
}




/* Responsive Styles */
@media screen and (max-width: 768px) {
    .scholarshipListContainer {
        max-width: 100%;
    }
}