
.container {
    margin: 2em;
    min-height: 85vh;
    animation: fadeIn 1s ease-in-out;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: #E8FFCE;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.searchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

.searchContainer input {
    width: 50%;
    height: 30px;
    color: #2e254f;
    padding: 10px 15px;
    background-color: #beb1eb;
    box-shadow: 2px 2px #5a4d86;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.searchContainer input::placeholder{
    color:#2e254f;
    opacity: 5;
}


.searchContainer input:hover {
    background-color: #ab99e7;
    color: black;
    /* Change border color when .searchContainer input is focused */
}

.searchContainer input:focus {
    background-color: whitesmoke;
    color: black;
    /* Change border color when .searchContainer input is focused */
}



.filterResultContainer {
    display: flex;
    flex-wrap: wrap;
}

.filterContainer {
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: #a48fc7;
    box-shadow: 2px 2px rgb(41, 32, 68);
    align-self: flex-start;
    border-radius: 5px;
    justify-content: space-around;
}

.filterContainer h3 {
    display: flex;
    padding: 2px;
    justify-content: left;
    margin: 5px 0 5px 10%;
    color: #130728;
    font-size: 16px;
}


.filterContainer select {
    display: flex;
    font-size: 12px;
    padding: 8px;
    margin: 0 10% 20px 10%;
    border-radius: 6px;
    box-shadow: 2px #2b2244;
    background-color: #ebe2f3;
    color: #000000;
    width: 80%;
    font-size: 13px;
    /* Adjust width as needed */
}

.resultContainer {
    width: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80vh;
}

.resultContainer::-webkit-scrollbar {
    width: .5vw;
}

.resultContainer::-webkit-scrollbar-thumb {
    background-color: #d7d2e4;
    border-radius: 100px;
}

.resultContainer::-webkit-scrollbar-thumb:hover {
    background-color: #292141;
}

.resultContainer::-webkit-scrollbar-track {
    background-color: transparent;
}

.resultContainer::-webkit-scrollbar-track:hover {
    background-color: transparent;
}


@media (max-width: 1400px) {
    .filterContainer {
        margin-right: 0;
        flex-basis: 20%;
    }

    .resultContainer {
        flex-basis: 80%;
    }

}

@media (max-width: 950px) {
    .filterContainer {
        margin-bottom: 25px;
        flex-basis: 100%;
    }

    .resultContainer {
        flex-basis: 100%;
    }
}